<!DOCTYPE html>
<html>
<head>
  <title>Nodepop</title>
</head>
<body>
  <h1>Productos</h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <h2><%= product.name %> - <%= product.price %>€</h2>
        <img src="<%= product.image %>" alt="<%= product.name %>" width="100">
        <form action="/products/<%= product._id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/login">Login</a>
</body>
</html>
