<!DOCTYPE html>
<html>
<head>
  <title><%= __('products') %></title>
</head>
<body>
  <h1><%= __('products') %></h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <h2><%= product.name %> - <%= product.price %>€</h2>
        <img src="<%= product.image %>" alt="<%= product.name %>" width="100">
        <form action="/products/<%= product._id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit"><%= __('delete') %></button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/logout"><%= __('logout') %></a>
</body>
</html>
